.vs
obj
/ClusterWPF/obj
*.cache
/ClusterWPF/bin/Debug/net8.0-windows/ClusterWPF.dll
/ClusterWPF/bin/Debug/net8.0-windows/ClusterWPF.exe
/ClusterWPF/bin/Debug/net8.0-windows/ClusterWPF.pdb
/ClusterWPF/bin/Debug/net8.0-windows/ClusterWPF.runtimeconfig.json
